.input-container {
  display: flex;
  justify-content: space-between;
  color: black;
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0px 0 12px 0px rgb(122 193 236);
}

.children-container {
  margin-left: 30px;
}